<!DOCTYPE html>
<html>
	<head>
		<!---------->
		<!-- Misc -->
		<!---------->
		<title>Live Studio</title>
		
		<!------------>
		<!-- Styles -->
		<!------------>

		<!--<link href="styles/panekit.css" type="text/css" rel="stylesheet" />-->
		<link href="styles/styles.css" type="text/css" rel="stylesheet" />
		<link href="../node_modules/material-design-icons/iconfont/material-icons.css" type="text/css" rel="stylesheet" />

		<!------------->
		<!-- Scripts -->
		<!------------->

		<script src="../node_modules/vue/dist/vue.js"></script>
		<!--<script src="scripts/panekit.js"></script>-->

		<!-------------->
		<!-- Metadata -->
		<!-------------->
		
		<!--<meta http-equiv="Content-Security-Policy" content="default-src 'self'">-->
	</head>
	<body>
		
		<!-------------------->
		<!-- Loading screen -->
		<!-------------------->

		<div id="preload">
			<img src="assets/logo.svg" class="logo" />
			<img src="assets/loading.svg" />
		</div>

		<!--------------->
		<!-- Page data -->
		<!--------------->

		<!--
		<div id="statusbar">
			<div v-for="device in devices" v-bind:class="device.state === 2 ? 'live' : device.state === 1 ? 'connecting' : 'inactive'" v-bind:name="device.name" v-on:click.right="contextMenu = (contextMenu == -1) ? devices.indexOf(device) : -1">
				<img v-bind:src="device.iconURL" v-bind:alt="device.name" v-bind:title="device.name"/>
				<div></div>
				<ul v-bind:class="(contextMenu === devices.indexOf(device)) ? '' : 'hidden'">
					<li v-for="item in device.menu" v-bind:class="item.type">
						<span v-if="item.type === 'button'" v-on:click="item.callback">{{ item.label }}</span>
						<hr v-if="item.type === 'divider'">
					</li>
				</ul>
			</div>
		</div>
		-->

		<!--------------->
		<!-- Templates -->
		<!--------------->

		<!--
		<template id="tmpl-Pane">
			<div class="pane" v-bind:class="{minimized: minimized, focused: focused}" v-bind:style="{left: x + 'px', top: y + 'px'}">
				<div id="titlebar" draggable v-on:dragend="__dragend_handler" v-on:dragstart="__dragstart_handler">
					<span>{{ name }}</span>
					<span id="titlebar-actions">
						<span class="material-icons" v-if="!minimized" v-on:click.left="minimized = true">arrow_drop_down</span>
						<span class="material-icons" v-if="minimized" v-on:click.left="minimized = false">arrow_drop_up</span>
						<span class="material-icons" v-on:click.left="close">close</span>
					</span>
				</div>
				<div id="content" v-html="content"></div>
			</div>
		</template>
		-->

		<!------------->
		<!-- Scripts -->
		<!------------->

		<script src="scripts/startup.js"></script>
		<script src="scripts/scripts.js"></script>
		<script src="scripts/LiveStudio.js"></script>
	</body>
	</html>