<!DOCTYPE html>
<html>
	<head>
		<title>Live Studio</title>
		<link href="styles/styles.css" type="text/css" rel="stylesheet" />
		<link href="styles/Panes.css" type="text/css" rel="stylesheet" />
		<link href="../node_modules/material-design-icons/iconfont/material-icons.css" type="text/css" rel="stylesheet" />
		<script src="scripts/Panes.js"></script>
		<script src="../node_modules/vue/dist/vue.js"></script>
		<!--<meta http-equiv="Content-Security-Policy" content="default-src 'self'">-->
	</head>
	<body>
		<div id="statusbar">
		</div>
		<!--
		<div id="statusbar">
			<div class="" v-for="device in devices">
				<img src="{{ device.iconURL }}" />
				<div></div>
			</div>
		</div>
		-->
		<!--
		<div id="statusbar">
			<div class="active">
				<img src="assets/atem_switcher.svg">
				<div></div>
			</div>
			<div class="active">
				<img src="assets/ptz_camera.svg">
				<div></div>
			</div>
			<div class="active">
				<img src="assets/ptz_camera.svg">
				<div></div>
			</div>
		</div>
		-->
		<template id="tmpl-Statusbar">
			<div id="statusbar">
				<div v-bind:class="device.stateClass" v-for="device in devices">
					<img v-bind:src="device.iconURL" />
					<div></div>
				</div>
			</div>
		</template>
		<template id="tmpl-Device">
			<div class="{{ activeClass }}">
				<img src="{{ iconURL }}">
				<div></div>
			</div>
		</template>
		<!--
		<div id="buttons_demo">
			<span id="auto" class="gloss_button">AUTO</span>
			<span id="cut" class="gloss_button">CUT</span>
			<span id="fadeToBlack" class="gloss_button">FTB</span>
		</div>
		-->
		<template pane-template-id="demo">
			<pane>
				<pane-titlebar>
					<span>Pane Title</span>
				</pane-titlebar>
			</pane>
		</template>
		<script src="scripts/scripts.js"></script>
	</body>
</html>